<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>Getting Started with AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body>
    <div ng-controller="MyCtrl">
        <h1>AngularJS!</h1>
        <p>Dynamic Content Binding Example:</p>
        <p>Enter your Firstname: <input type="text" ng-model="fname"></p>
        <p>Enter your Lastname: <input type="text" ng-model="lname"></p>
        <p>Hello, {{ fname +' '+lname}}!</p>
    </div>
    <script>
        angular.module('myApp', [])
            .controller('MyCtrl', function ($scope) {
                // Initialize scope variables
                $scope.fname = "User";
                $scope.lname = "User";
            });
    </script>
</body>

</html>
